---
import BaseLayout from '../layouts/BaseLayout.astro';

import Icon from './../components/Icon.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<script>
document.addEventListener('DOMContentLoaded', function () {
    let clickCount = 0;
    const maxClicks = 3; // Set the number of clicks to trigger the change

    const heroImage = document.getElementById('hero-image');

    heroImage.addEventListener('click', function () {
        clickCount++;

        if (clickCount === maxClicks) {
            // Change the image source
            heroImage.src = '/assets/easter.jpg'; // Replace with the new image source

            // Add shake class to the body for the screen shake effect
            document.body.classList.add('hero-shake');

            // Reset click count and remove shake class after a delay
            setTimeout(function () {
                clickCount = 0;
                document.body.classList.remove('hero-shake');
            }, 500); // Adjust the delay to match the duration of the shake animation
        }
    });
});
</script>

<BaseLayout title="About | Mario Tarosso" description="About Mario Tarosso Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
                    id="hero-image"
					src="/assets/portrait.jpg"
					alt="Mario Tarosso at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a versatile software developer with expertise in web development, game development, and content creation, I am constantly seeking new challenges and opportunities to showcase my skills. With a strong foundation in both front-end and back-end development, I am comfortable working with a diverse range of technologies and frameworks. My passion for coding extends beyond traditional web applications, as I have delved into the captivating world of game development, creating immersive and engaging experiences for players. Additionally, I have embraced the role of an educator by producing educational YouTube videos focused on game development, sharing my knowledge and empowering others to explore this exciting field.
					</p>
                    <br />
					<p>
						I am a lifelong learner, consistently striving to improve my skills and stay up-to-date with the latest industry trends in software development. By combining my technical expertise with a creative mindset, I am able to deliver innovative solutions and captivating user experiences. If you're curious to see some of my past projects and witness my abilities as a developer, please feel free to explore my GitHub profile.
					</p>
                    <br />
					<p>
						With my comprehensive background in software development, game development, and educational content creation, I am excited to bring my diverse skill set to any project or opportunity that comes my way. Let's connect and embark on a journey of creativity, learning, and impactful software development.
					</p>
				</div>
			</section>
            <section>
                <h2 class="section-title">Work Experience</h2>
                <div class="work-timeline">
                    <div class="work-entry">
                        <h3 class="work-title">Server game developer</h3>
                        <p class="work-company">Frontier</p>
                        <p class="work-dates">September 2023 - Present</p>
                        <p class="work-description">
                            As a Server Game Jeveloper at Frontier, I am instrumental in designing
                            and maintaining gaming server infrastructure, ensuring smooth gameplay
                            experiences
                        </p>
                    </div>
                    <div class="work-entry">
                        <h3 class="work-title">Software Engineer</h3>
                        <p class="work-company">Just Move In</p>
                        <p class="work-dates">May 2022 - September 2023</p>
                        <p class="work-description">
                            As a software developer at 'ust 2ove In, I create and maintain features for
                            the company•s internal system to ensure smooth operations and empower
                            employees
                        </p>
                    </div>
                    <div class="work-entry">
                        <h3 class="work-title">Full Stack Web Developer</h3>
                        <p class="work-company">Dsm Desing</p>
                        <p class="work-dates">January 2019 - May 2022</p>
                        <p class="work-description">
                            As a web developer, I design and construct websites for both corporate and individual
                            clients.
                        </p>
                    </div>
                    <div class="work-entry">
                        <h3 class="work-title">Manager Assistant</h3>
                        <p class="work-company">Wagamama</p>
                        <p class="work-dates">January 2017 - December 2019</p>
                        <p class="work-description">
                            As Assistant 2anager in a restaurant, I trained staff, managed inventory, and
                            optimiUed supplier orders.
                        </p>
                    </div>
                    <div class="work-entry">
                        <h3 class="work-title">Junior Web developer</h3>
                        <p class="work-company">INSS</p>
                        <p class="work-dates">January 2013 - December 2016</p>
                        <p class="work-description">
                            As part of my role, I provide technical support and develop internal systems such
                            as file management web applications and internal chat systems.
                        </p>
                    </div>
                </div>
            </section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>UNOPAR - Universidade Norte do Paraná</p>
                    <br />
                    <p>Computer Science</p>
                    <br />
                    <p>Google Developer Scholarship</p>
                    <br />
                    <p>Laravel Certification</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
                    <div >
                        <Icon icon="unreal" size='2rem' />
                        Unreal Engine
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="unity" size='2rem' />
                        Unity
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="vuejs" size='2rem' />
                        Vue Js
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="laravel" size='2rem' />
                        laravel
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="typescript" size='2rem' />
                        Typescript
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="javascript" size='2rem' />
                        Javascript
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="tailwind" size='2rem' />
                        Tailwind
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="symfony" size='2rem' />
                        Symfony
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="aws" size='2rem' />
                        Aws
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="git" size='2rem' />
                        Git
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="mysql" size='2rem' />
                        Mysql
                    </div>
                    <div style="margin-top: 10px" >
                        <Icon icon="nodejs" size='2rem' />
                        Node js
                    </div>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>

</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
