---
import Icon from './Icon.astro';
---
<h1 class="text-3xl font-bold mb-4">Skills</h1>
<section class="box skills mouse-move-smooth glass-border">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="php" size='2rem' />
                    Php
                </div>
                <span class="text-white font-bold mb-2">100%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-php" style="--progress-width: 100%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="laravel" size='2rem' />
                    Laravel
                </div>
                <span class="text-white font-bold mb-2">100%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-bar" style="--progress-width: 100%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="vuejs" size='2rem' />
                    Vue js
                </div>
                <span class="text-white font-bold mb-2">100%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-vue" style="--progress-width: 100%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="typescript" size='2rem' />
                    TypeScript
                </div>
                <span class="text-white font-bold mb-2">95%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-typescript" style="--progress-width: 95%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="javascript" size='2rem' />
                    Javascript
                </div>
                <span class="text-white font-bold mb-2">100%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-javascript" style="--progress-width: 100%;"></div>
            </div>
        </div>

	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="unreal" size='2rem' />
                    Unreal
                </div>
                <span class="text-white font-bold mb-2">100%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-engine" style="--progress-width: 100%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="unity" size='2rem' />
                    Unity
                </div>
                <span class="text-white font-bold mb-2">65%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-engine" style="--progress-width: 65%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="tailwind" size='2rem' />
                    Tailwind
                </div>
                <span class="text-white font-bold mb-2">85%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-tailwind" style="--progress-width: 85%;"></div>
            </div>
        </div>
        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="symfony" size='2rem' />
                    Symfony
                </div>
                <span class="text-white font-bold mb-2">85%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-symfony" style="--progress-width: 85%;"></div>
            </div>
        </div>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="aws" size='2rem' />
                    Aws
                </div>
                <span class="text-white font-bold mb-2">70%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-aws" style="--progress-width: 70%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="git" size='2rem' />
                    Git
                </div>
                <span class="text-white font-bold mb-2">100%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-git" style="--progress-width: 100%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="mysql" size='2rem' />
                    Mysql
                </div>
                <span class="text-white font-bold mb-2">85%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-mysql" style="--progress-width: 85%;"></div>
            </div>
        </div>

        <div>
            <div class="justify-between">
                <div >
                    <Icon icon="nodejs" size='2rem' />
                    Node js
                </div>
                <span class="text-white font-bold mb-2">90%</span>
            </div>
            <div class="custom-progress" style="margin-top: 10px;" >
                <div class="progress-node" style="--progress-width: 90%;"></div>
            </div>
        </div>
	</div>
</section>
<h1 class="text-3xl font-bold mb-4">Interests</h1>
<section class="box skills mouse-move-smooth glass-border">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack Web Development</h2>
		<p>With expertise in PHP, Laravel, Vue.js, and MySQL, I excel in developing robust and scalable web applications. I bring a strong foundation in backend development, combined with frontend proficiency, to create seamless user experiences.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Game Development</h2>
		<p>Utilizing engines like Unity (C#) and Unreal Engine (C++), I create captivating and immersive games. My passion for game development fuels my creativity, allowing me to design and implement engaging gameplay mechanics and stunning visuals.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Problem-Solving & Innovation</h2>
		<p>I am a quick learner and a collaborative team player. With five years of experience in the industry, I have honed my problem-solving skills and fostered a mindset of innovation. I thrive on tackling challenges and finding efficient solutions to create optimal outcomes.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
